$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-discord: "\e900";
$icon-dropdown: "\e901";
$icon-facebook: "\e902";
$icon-instagram: "\e903";
$icon-twitter: "\e904";

